apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: apps
spec:
  selector:
    app: react
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP