apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-backend
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: didin8080/backend:2
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: backend-env
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
